{:allowed-branchname-matches ["^master$" "^master-omnichannel$"]
 :allowed-filename-matches ["ce"]
 :acrolinx-check-settings
 {
  "languageId" "en"
  "ruleSetName" "Standard"
  "requestedFlagTypes" ["SPELLING" "GRAMMAR" "STYLE"
                        "TERMINOLOGY_DEPRECATED"
                        "TERMINOLOGY_VALID"
                        "VOICE_GUIDANCE"
                        ]
  "termSetNames" ["BAG" "Microsoft" "Products"]
 }
}

