Contains the result from the ValidateRequest, BookRequest, or Reschedule actions. 
Corresponds to the [ValidationResult Class](https://msdn.microsoft.com/library/microsoft.crm.sdk.messages.validationresult.aspx).
